<%- title t('providers.ratings_for', country: @provider.country.name, provider: @provider.name) %>

<ul class="breadcrumb">
  <li><%= link_to t('countries.title'), root_path %> <span class="divider">/</span></li>
  <li><%= link_to @provider.country.name, country_path(@provider.country) %> <span class="divider">/</span></li>
  <li class="active"><%= @provider.name %></li>
</ul>

<h3 style="margin-bottom: 18px"><%= t('providers.name') %>: <%= @provider.name %></h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t('providers.overall') %></th>
      <th><%= t('providers.privacy') %></th>
      <th><%= t('providers.stability') %></th>
      <th><%= t('providers.price_value') %></th>
      <th><%= t('providers.support') %></th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td><%= "%.1f" % (@provider.overall || 0) %></td>
      <td><%= "%.1f" % (@provider.privacy || 0) %></td>
      <td><%= "%.1f" % (@provider.stability || 0) %></td>
      <td><%= "%.1f" % (@provider.price_value || 0) %></td>
      <td><%= "%.1f" % (@provider.support || 0) %></td>
    </tr>
  </tbody>
</table>

<hr />

<% if @provider.ratings.count > 1 %>
  <div class="row">
    <div class="span4">
      <h4 style="margin-bottom: 18px"><%= t('ratings.best') %></h4>
    </div>

    <div class="span4">
      <h4 class="muted" style="text-align: center; margin-bottom: 18px"><%= t('ratings.vs') %></h4>
    </div>

    <div class="span4">
      <h4 style="margin-bottom: 18px"><%= t('ratings.worst') %></h4>
    </div>
  </div>
  
  <div class="row">
    <div class="span4">
      <div class="speech-bubble">
        <%= markdown(truncate(@provider.ratings.best.first.review.content, :length => 140, :separator => ' ')) %>

        <p>
          <%= link_to t('ratings.more_html'), [@provider.country, @provider, @provider.ratings.best.first] %>
        </p>
      </div>

      <p><%= t('ratings.best_html', name: @provider.ratings.best.first.user.name, num: @provider.ratings.best.first.kudos_num || 0) %></p>
    </div>

    <div class="span4">
      <table class="table table-striped table-bordered">
        <col width="10%" />
        <col width="80%" />
        <col width="10%" />

        <tbody>
          <tr>
            <td><%= @provider.ratings.best.first.privacy %></td>
            <th style="text-align: center"><%= t('providers.privacy') %></th>
            <td style="text-align: right"><%= @provider.ratings.worst.first.privacy %></td>
          </tr>

          <tr>
            <td><%= @provider.ratings.best.first.stability %></td>
            <th style="text-align: center"><%= t('providers.stability') %></th>
            <td style="text-align: right"><%= @provider.ratings.worst.first.stability %></td>
          </tr>

          <tr>
            <td><%= @provider.ratings.best.first.support %></td>
            <th style="text-align: center"><%= t('providers.support') %></th>
            <td style="text-align: right"><%= @provider.ratings.worst.first.support %></td>
          </tr>

          <tr>
            <td><%= @provider.ratings.best.first.price_value %></td>
            <th style="text-align: center"><%= t('providers.price_value') %></th>
            <td style="text-align: right"><%= @provider.ratings.worst.first.price_value %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="span4">
      <div class="speech-bubble">
        <%= markdown(truncate(@provider.ratings.worst.first.review.content, :length => 140, :separator => ' ')) %>

        <p>
          <%= link_to t('ratings.more_html'), [@provider.country, @provider, @provider.ratings.worst.first] %>
        </p>
      </div>

      <p><%= t('ratings.worst_html', name: @provider.ratings.worst.first.user.name, num: @provider.ratings.worst.first.kudos_num || 0) %></p>
    </div>
  </div>

  <hr />
<% end %>

<% if ratings = @provider.ratings.includes(:review, :user).paginate(:page => params[:page]) and not ratings.empty? %>
  <ul class="unstyled">
    <% ratings.each do |rating| %>
      <li>
        <%= render :partial => "ratings/partial", :locals => { :rating => rating, :full => false } %>
      </li>
    <% end %>
  </ul>

  <%= will_paginate ratings, :renderer => BootstrapPagination::Rails %>
<% else %>
  <p class="muted" style="text-align: center"><%= t('ratings.none') %></p>
<% end %>

<hr />

<% if current_user.new_record? || @provider.ratings.where(:user_id => current_user.id).count == 0 %>
  <%= form_for [@provider.country, @provider, @rating] do |f| %>
    <legend><%= t('ratings.submit_yours') %></legend>

    <% @rating.errors.full_messages.each do |err| %>
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= err %>
      </div>
    <% end %>

    <% current_user.errors.full_messages.each do |err| %>
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= err %>
      </div>
    <% end %>

    <div class="row">
      <div class="span4">
        <div class="control-group">
          <%= f.label :privacy, t('ratings.form.privacy'), :class => 'control-label' %>

          <div class="controls">
            <%= f.select :privacy, 1..10, {}, :class => 'span4' %>
          </div>
        </div>
        
        <div class="control-group">
          <%= f.label :stability, t('ratings.form.stability'), :class => 'control-label' %>

          <div class="controls">
            <%= f.select :stability, 1..10, {}, :class => 'span4' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :support, t('ratings.form.support'), :class => 'control-label' %>

          <div class="controls">
            <%= f.select :support, 1..10, {}, :class => 'span4' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :price_value, t('ratings.form.price_value'), :class => 'control-label' %>

          <div class="controls">
            <%= f.select :price_value, 1..10, {}, :class => 'span4' %>
          </div>
        </div>
      </div>

      <div class="span8">
        <%= f.fields_for :review do |b| %>
          <div class="control-group">
            <%= b.label :content, t('ratings.review'), :class => 'control-label' %>

            <div class="controls">
              <%= b.text_area :content, :rows => 4, :class => 'span8' %>
            </div>
          </div>
        <% end %>

        <%= f.fields_for :user do |u| %>
          <div class="control-group">
            <%= u.label :name, t('users.name'), :class => 'control-label' %>

            <div class="controls">
              <%= u.text_field :name, :class => 'span4', :value => current_user.name %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button t('ratings.form.submit'), :class => 'btn btn-primary' %>
    </div>
  <% end %>
<% else %>
  <p class="muted" style="text-align: center"><%= t('ratings.done') %></p>
<% end %>