<div class="row">
  <div class="span6 offset3">
    <%= form_tag admin_sessions_path do %>
      <legend><%= t('users.login') %></legend>

      <div class="control-group">
        <%= label_tag :email, t('users.email'), :class => 'control-label' %>

        <div class="controls">
          <%= text_field_tag :email, '', :class => 'span6' %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :password, t('users.password'), :class => 'control-label' %>

        <div class="controls">
          <%= password_field_tag :password, '', :class => 'span6' %>
        </div>
      </div>

      <div class="form-actions">
        <%= button_tag t('users.auth'), :class => 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>