<ul class="breadcrumb">
  <li><%= link_to t('countries.title'), root_path %> <span class="divider">/</span></li>
  <li class="active"><%= t('users.login') %></li>
</ul>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag admin_sessions_path do %>
      <legend><%= t('users.login') %></legend>

      <% @errors.each do |err| %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= err %>
        </div>
      <% end %>

      <div class="control-group">
        <%= label_tag :email, t('users.email'), :class => 'control-label' %>

        <div class="controls">
          <%= text_field_tag :email, '', :class => 'span6' %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :password, t('users.password'), :class => 'control-label' %>

        <div class="controls">
          <%= password_field_tag :password, '', :class => 'span6' %>
        </div>
      </div>

      <div class="form-actions">
        <%= button_tag t('users.auth'), :class => 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>