<ul class="breadcrumb">
  <li><%= link_to 'Countries', root_path %> <span class="divider">/</span></li>
  <li class="active"><%= @country.name %></li>
</ul>

<h3>ISPs of <%= @country.name %></h3>

<div class="btn-toolbar">
  <div class="btn-group">
    <a href="#" class="btn"><i class="icon-chevron-up"></i></a>
    <a href="#" class="btn"><i class="icon-chevron-down"></i></a>
  </div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ISP</th>
      <th>Overall score</th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= link_to provider.name, provider %></td>
        <td><%= "%.1f" % (provider.overall || 0) %></td>
      </tr>
    <% end %>
  </tbody>
</table>