<ul class="breadcrumb">
  <li><%= link_to t('countries.title'), root_path %> <span class="divider">/</span></li>
  <li class="active"><%= @country.name %></li>
</ul>

<h3><%= t('countries.isps_of', country: @country.name) %></h3>

<p class="lead" style="margin-bottom: 18px"><%= t('countries.desc_html', country: @country.name) %></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t('providers.name') %></th>
      <th><%= t('providers.overall') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% if not @providers.empty? %>
      <% @providers.each do |provider| %>
        <tr>
          <td><%= link_to provider.name, [@country, provider] %></td>
          <td><%= "%.1f" % (provider.overall || 0) %></td>
          <td><%= t('countries.ratings_num', count: provider.ratings.count) %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="3"><%= t('providers.none') %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="3">
        <%= t('providers.missing') %>
        <%= link_to t('providers.suggest'), new_country_provider_suggestion_path(@country) %>
      </td>
    </tr>
  </tfoot>
</table>

<%= will_paginate @providers, :renderer => BootstrapPagination::Rails %>