<%- title t('suggestions.title') %>

<ul class="breadcrumb">
  <li><%= link_to t('countries.title'), root_path %> <span class="divider">/</span></li>
  <li><%= link_to @suggestion.country.name, country_path(@suggestion.country) %> <span class="divider">/</span></li>
  <li class="active"><%= t('suggestions.title') %></li>
</ul>

<div class="row">
  <div class="span6 offset3">
    <%= form_for [@suggestion.country, @suggestion] do |f| %>
      <legend><%= t('suggestions.title_for_country', country: @suggestion.country.name) %></legend>

      <div class="control-group">
        <%= f.label :name, t('suggestions.provider'), :class => 'control-label' %>

        <div class="controls">
          <%= f.text_field :name, :class => 'span6' %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button t('suggestions.submit'), :class => 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>