<!DOCTYPE html>
<html>
<head>
  <title>Dingle</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="span12">
      <h1 style="margin: 30px 0; text-align: center"><a href="/" class="site-title">Dingle</a></h1>
      <hr />
      
      <% if flash[:notice] %>
        <div class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% end %>

      <%= yield %>

      <hr />

      <ul class="unstyled footer muted">
        <li class="pull-left"><%= t('made_by_html') %></li>
        <li>&copy; Dingle</li>

        <% if current_user.admin? %>
          <li>
            <%= link_to t('users.logout'), admin_logout_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

</body>
</html>
